<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:接口的全限定名，必须和接口名一致，以保证一一对应关系-->
<mapper namespace="com.mybatis.demo.dao.UserMapper">

  <!--resultMap 元素是 MyBatis 中最重要最强大的元素。-->
  <resultMap id="userMap" type="com.mybatis.demo.model.User">
    <!--	column数据库中的列名，或者是列的别名。
          property映射到列结果的字段或属性。
    -->
    <result column="sex" property="sex1"></result>
  </resultMap>

  <!--#{param1}:表示第一个参数，之后参数以此类推-->
  <select id="selectLimit" resultMap="userMap">
    select * from `user` limit #{param1}, #{param2}
  </select>

  <select id="selectOne" parameterType="Integer" resultMap="userMap">
    select * from `user` where id=#{id}
  </select>

  <insert id="insert" parameterType="com.mybatis.demo.model.User" keyProperty="id" useGeneratedKeys="true">
    insert into `user` (`id`,`name`,`sex`) values (#{id},#{name},#{sex})
  </insert>

  <update id="update" parameterType="com.mybatis.demo.model.User">
    update `user`
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null and name != ''">name = #{name}</if>
      <if test="sex != null and sex != ''">sex = #{sex}</if>
    </trim>
    where id=#{id}
  </update>

  <delete id="delete" parameterType="Integer">
    delete from `user` where id=#{id}
  </delete>

</mapper>